<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


</head>
<body>
    <div class="container my-2">

        <!--<nav class="nav nav-pills flex-column flex-sm-row">
      &lt;!&ndash;  <a th:href="@{/employee/employee-list}" class="btn btn-primary btn-sm mb-3">  Employees </a>
        <a th:href="@{/car/car-list}" class="btn btn-primary btn-sm mb-3">  Cars </a>
         <a th:href = "@{/client/client-list}" class="btn btn-primary btn-sm mb-3"> Clients </a&ndash;&gt;

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <a class="flex-sm-fill text-sm-center nav-link active" th:href = "@{/client/client-list}">Clients</a>
                <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/car/car-list}">Cars</a>
                <a class="flex-sm-fill text-sm-center nav-link active" th:href="@{/employee/employee-list}">Employees</a>
                <a class="flex-sm-fill text-sm-center nav-link disabled" th:href="@{/about}">About</a>
            </ul>
        </nav>-->
        <th:block th:replace="fragments/general.html :: my-navigation"></th:block>

    </div>
</body>
</html>