<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Client-add-form</title>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
</head>
<body>
<div class="container">
    <h1>Client Management System</h1>
    <hr>
    <h2>Save Client</h2>

    <form action="#" th:action="@{/client/saveClient}" th:object="${client}"
          method="POST">

        <input type="text" th:field="*{name}"
               placeholder="Client First Name" class="form-control mb-4 col-4"th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

        <input type="text" th:field="*{surname}"
               placeholder="Client Last Name" class="form-control mb-4 col-4"th:classappend="${#fields.hasErrors('surname')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>

        <input type="text" th:field="*{email}"
               placeholder="Client Email" class="form-control mb-4 col-4"th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

        <input type="text" th:field="*{address}"
               placeholder="Client Address" class="form-control mb-4 col-4"th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>

        <button type="submit" class="btn btn-info col-2"> Save Client</button>
    </form>

    <hr>

    <a th:href = "@{/client/client-list}"> Back to Client List</a>
</div>
</body>
</html>