<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja </title>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
</head>
<body>

<th:block th:replace="fragments/general.html :: my-navigation"></th:block>

<form th:action="@{/user/register}" th:object="${user}" method="post">
    <label>
        Nazwa użytkownika:
        <input type="text" name="username"
        th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </label>
    <label>
        Hasło:
        <input type="password" name="password"
        th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </label>
    <label>
        Role:
        <select name="role">
        <option value="CLIENT">Client</option>
        <option value="EMPLOYEE">Employee</option>
        <option value="MANAGER">Manager</option>
        </select>
    </label>
    <input type="submit">

</form>
</body>
</html>