<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Booking Management System</h1>
    <hr>
    <h2>Book a Car</h2>

    <form action="#" th:action="@{/booking/saveBooking}" th:object="${booking}"
          method="POST">
        <input type="date" th:field="*{bookingDay}"
               placeholder="bookingDay" class="form-control mb-4 col-4">

        <input type="date" th:field="*{start}"
               placeholder="Start" class="form-control mb-4 col-4">

        <input type="date" th:field="*{end}"
               placeholder="End" class="form-control mb-4 col-4">

        <input type="text" th:field="*{branch}"
               placeholder="Branch" class="form-control mb-4 col-4">

        <input type="text" th:field="*{price}"
               placeholder="Price" class="form-control mb-4 col-4">

        <select select class="form-select" aria-label="Default select example" th:field="*{client}">
            <option th:each="client: ${client}" th:value="${client.id}" th:text="${client.getFullName}"></option>
        </select>
        <br>
        <select select class="form-select" aria-label="Default select example" th:field="*{car}">
            <option th:each="car: ${car}" th:value="${car.id}" th:text="${car.brand}"></option>
        </select>


        <button type="submit" class="btn btn-info col-2"> Save Booking</button>
    </form>

    <hr>

    <a th:href = "@{/booking/booking-list}"> Show bookings </a>
</div>
</body>
</html>