<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>

</head>
<body>
    <div class="container my-2">


        <th:block th:replace="fragments/general.html :: my-navigation"></th:block>



        </div>
    </div>
</body>
</html>