<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Car-add-form</title>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>

</head>
<body>
<div class="container">
    <h1>Car Management System</h1>
    <hr>
    <h2>Save Car</h2>

    <form action="#" th:action="@{/car/saveCar}" th:object="${car}"
          method="POST">
        <input type="text"
               placeholder="Car brand" class="form-control mb-4 col-4"
               th:field="*{brand}" th:classappend="${#fields.hasErrors('brand')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></div>

        <input type="text"
               placeholder="Car model" class="form-control mb-4 col-4"
        th:field="*{model}" th:classappend="${#fields.hasErrors('model')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></div>

        <input type="text"
               placeholder="Car body type" class="form-control mb-4 col-4"
        th:field="*{bodyType}" th:classappend="${#fields.hasErrors('bodyType')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('bodyType')}" th:errors="*{bodyType}"></div>

        <input type="text"
               placeholder="Car color" class="form-control mb-4 col-4"
               th:field="*{color}" th:classappend="${#fields.hasErrors('color')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('color')}" th:errors="*{color}"></div>

        <input type="text"
               placeholder="Car vintage" class="form-control mb-4 col-4"
        th:field="*{vintage}" th:classappend="${#fields.hasErrors('vintage')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('vintage')}" th:errors="*{vintage}"></div>

        <input type="text"
               placeholder="Car mileage" class="form-control mb-4 col-4"
               th:field="*{mileage}" th:classappend="${#fields.hasErrors('mileage')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}"></div>

        <input type="text"
               placeholder="Car status(FREE,OCCUPIED)" class="form-control mb-4 col-4"
               th:field="*{status}" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>

        <input type="text"
               placeholder="Car amount per day" class="form-control mb-4 col-4"
               th:field="*{amount}" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : ''">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>

        <button type="submit" class="btn btn-info col-2"> Save Car</button>
    </form>

    <hr>

    <a th:href = "@{/car/car-list}"> Back to Car List</a>
</div>
</body>
</html>