<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Car-add-form</title>
    <th:block th:replace="fragments/general.html :: head-tags"></th:block>
</head>
<body>
<div class="container">
    <h1>Car Management System</h1>
    <hr>
    <h2>Save Car</h2>

    <form action="#" th:action="@{/car/saveCar}" th:object="${car}"
          method="POST">
        <input type="text" th:field="*{brand}"
               placeholder="Car brand" class="form-control mb-4 col-4">

        <input type="text" th:field="*{model}"
               placeholder="Car model" class="form-control mb-4 col-4">

        <input type="text" th:field="*{bodyType}"
               placeholder="Car body type" class="form-control mb-4 col-4">

        <input type="text" th:field="*{vintage}"
               placeholder="Car vintage" class="form-control mb-4 col-4">

        <input type="text" th:field="*{mileage}"
               placeholder="Car mileage" class="form-control mb-4 col-4">

        <input type="text" th:field="*{status}"
               placeholder="Car status(FREE,OCCUPIED)" class="form-control mb-4 col-4">

        <input type="text" th:field="*{amount}"
               placeholder="Car amount per day" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Car</button>
    </form>

    <hr>

    <a th:href = "@{/car/car-list}"> Back to Car List</a>
</div>
</body>
</html>